:root{
    --defaultBackgroundColor: #fff;
    --defaultFontColor: rgb(24, 24, 24);
}

@media (prefers-color-scheme: light) {
    :root{
        --defaultBackgroundColor: #fff;
        --defaultFontColor: rgb(50, 50, 50);
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --defaultBackgroundColor: rgb(21, 21, 21);
        --defaultFontColor: rgb(190, 190, 190);
    }
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--defaultBackgroundColor);
    color: var(--defaultFontColor);
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
    padding: 15px;
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.content{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.cta{
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
}

.grid{
    display: grid;
}

.gx2{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
}