*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 21, 21);
    color: rgb(190, 190, 190);
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
    padding: 15px;
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.content{
    width: 80%;
    margin: auto;
}

.booking__nav {
    display: flex;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    overflow: hidden;
    background-clip: padding-box;
}


.booking__navitem {
    padding: 25px 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #a8a6a6;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}

.booking__navitem:nth-child(2) {
    border-radius: 0px;
}

.booking__navitem:last-child {
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
}

.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}