:root{
    --defaultBackgroundColor: #fff;
    --defaultFontColor: rgb(24, 24, 24);
}

@media (prefers-color-scheme: light) {
    :root{
        --defaultBackgroundColor: #fff;
        --defaultFontColor: rgb(50, 50, 50);
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --defaultBackgroundColor: rgb(21, 21, 21);
        --defaultFontColor: rgb(190, 190, 190);
    }
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--defaultBackgroundColor);
    color: var(--defaultFontColor);
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
    padding: 15px;
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.content{
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.booking__nav {
    display: flex;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    overflow: hidden;
    background-clip: padding-box;
}


.booking__navitem {
    padding: 25px 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #a8a6a6;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;

    border: none;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}

.booking__navitem:nth-child(2) {
    border-radius: 0px;
}

.booking__navitem:last-child {
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
}

.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}

.cta{
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 16px;
}

.grid{
    display: grid;
}

.gx2{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
}