.booking__form {
    background: #046b6dc2;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    width: 100%;
    padding: 50px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.booking__nav {
    display: flex;
    text-align: left;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -moz-border-top-left-radius: 10px;
    overflow: hidden;
    background-clip: padding-box;
}


.booking__navitem {
    padding: 25px 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #a8a6a6;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;

    border: none;
    margin: 0;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}
.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}

.booking__navitem:nth-child(2) {
    border-radius: 0px;
}

.booking__navitem:last-child {
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
}

.booking__navitem--selected {
    background: #046b6dc2;
    color: #fff;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    font-weight: bold;
}

.booking, .booking__harbor {
    position: relative;
}

.booking__label {
    width: calc(25% - 20px);
    border-radius: 10px;
    float: left;
    background: #fff;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 3px solid #a7a7a7;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.booking__input {
    -webkit-appearance: none;
    width: 100%;
    border: none;
    font-size: 17px;
    display: block;
    outline: none;
}

.booking__label--indent {
    padding: 10px;
    padding-left: 30px;
}

.booking__label--rightcircle {
    clip-path: polygon( 103.18% 0%, 99.77% 11.52%, 95.98% 22.04%, 93.57% 36.53%, 92.98% 52.55%, 94.16% 67.51%, 95.58% 76.51%, 97.38% 86.51%, 99.59% 92.98%, 102.77% 100%, 0% 100%, 0% 0% );
}

.booking__label--leftcircle {
    clip-path: polygon( -2.27% 0%, 3.68% 12.52%, 7.25% 23.53%, 9.87% 46.94%, 9.21% 69.56%, 5.45% 86.55%, -0.32% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 0% );
}

.booking__labelsize {
    font-size: 12px;
    font-weight: bold;
}

.change {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: absolute;
    left: 245px;
    top: 13px;
    background: #046b6dc2;
    cursor: pointer;
    z-index: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px !important;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -moz-backdrop-filter: blur(8px);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.booking__submit {
    position: absolute;
    right: 0px;
    margin-top: 10px;
    padding: 20px 15px;
    background: #eabd02;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 29px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.booking__submit:disabled, .booking_submit[disabled]{
    cursor: default;
    background: #ffdf5d;
}

.departures_Results{
    margin-top: 50px;
    padding: 30px 0px;
}

.booking__advancedSettings{
    display: block;
}

/* Search */
.searchBar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    margin-left: 20px;
}
.lds-ellipsis div {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
    }
    @keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}